body{
  background-image: url('https://images.pexels.com/photos/33195/candle-flame-water-candlelight.jpg?w=940&h=650&auto=compress&cs=tinysrgb');
  background-size: cover;
  height: 100vh;
}

.clock{
  margin: 0 auto;
  width: 500px;
  position: relative;
  top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock-face{
  width: 450px;
  height: 450px;
  border: 15px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clock-dot{
  height: 20px;
  width: 20px;
  background: #000;
  border: 5px solid #fff;
  border-radius: 50%;
  z-index: 2000;
}

.hand{
  position: absolute;
  transform-origin: 50%;
  right: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.1s;
  transition-timing-function: cubic-bezier(0, 2.07, 0.83, 0.85);
}
.hour{
  height: 7px;
  width: 33%;
  border: 3px solid #fff;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  background: #000;
}

.min{
  height: 4px;
  width: 42%;
  background: #000;
  border: 2px solid #fff;
  border-top-left-radius: 40%;
  border-bottom-left-radius: 40%;
}

.sec{
  height: 3px;
  width: 42%;
  background: #000;
  border: 1px solid #fff;
  border-top-left-radius: 35%;
  border-bottom-left-radius: 35%;
}
